body {
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0px;
}

/* ------------------------------------------------------------------------ */

ul {
    list-style: none;
}

.navbar__mobile {
    display: none;
}

/* ------------------------------------------------------------------------ */

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template: minmax(auto, 100px) 1fr minmax(auto, 60px) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------------------------------------------------------------ */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 1200px) 1fr;
    align-items: center;
    font-size: 1.2em;
    background-color: #7FB5FF;
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    grid-column: 3 / 4;
}

.navbar__list {
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.burger__list {
    display: none;
}

.header__logo {
    grid-column: 2 / 3;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* ------------------------------------------------------------------------ */

.main {
    grid-area: main;
    display: grid;
    grid-template: minmax(auto, 500px) minmax(auto, 1fr) / 1fr;
}

/* ------------------------------------------------------------------------ */

.main__login {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr minmax(auto, 250px) 1fr minmax(auto, 500px) 1fr;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0 100%), url('https://static.spektrum.de/fm/912/f2000x857/AdobeStock_110752096.jpeg');
    margin-top: 40px;
}

.main__text_logo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('https://img.freepik.com/free-vector/software-development-illustration-web-developer_180816-33.jpg');
    background-size: 110%;
    border: 1px solid black;
}

.form__login {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    align-self: center;
    justify-self: center;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.grid--50--50 {
    display: grid;
    grid-template-columns: 130px 130px;
    align-items: end;
    justify-items: center;
    padding: 0px 15px;
}

.grid--100 {
    display: grid;
    margin-top: 30px;
}

.email {
    justify-self: start;
    padding-left: 50px;
}

form input {
    width: 90%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #7FB5FF;
}

input[type=submit] {
    width: 90%;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    background-color: #7FB5FF;
    margin-top: 25px;
}

.button {}

/* ------------------------------------------------------------------------ */

.about__project {
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
}

.about__project__header {
    justify-self: center;
}

.about__project__info {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

.project__info__team {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.circle__image {
    position: relative;
    padding: 0 0 95% 0;
    margin: 0 0 30px 0;
}

.circle__image img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about__project__text {
    margin-left: 30px;
    font-size: 1.2em;
    line-height: 40px;
    font-weight: 500;
}

/* ------------------------------------------------------------------------ */

.main__courses__info {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    font-size: 1.2em;
    line-height: 40px;
}

.main__header,
.main__text {
    grid-column: 2 / 3;
    justify-self: center;
}

.main__text {
    font-weight: 500;
}

.main__courses {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    grid-auto-rows: 1fr;
    justify-content: center;
}

.image-container {
    display: relative;
}

.image-container img {
    display: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.main__course {
    display: grid;
    grid-template-rows: minmax(auto, 250px) 1fr;
    margin: 0px 10px 0px 10px;
}

/* ------------------------------------------------------------------------ */

.footer {
    grid-area: footer;
    background-color: #7FB5FF;
    display: grid;
    grid-template-columns: minmax(auto, 700px) minmax(auto, 1200px);
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.footer__copy {
    padding-left: 20px;
}

.footer__madeby {
    grid-column: 2 / 3;
    justify-self: end;
    padding-right: 20px;
}

.icon {
    color: black;
}

/* ------------------------------------------------------------------------ */

@media (max-width: 610px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: minmax(auto, 700px) minmax(auto, 1fr) / 1fr;
    }

    .main__login {
        grid-template: 1fr 1fr / 1fr;
        margin-top: 40px;
    }

    .main__text_logo {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: center;
    }

    .form__login {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .line,
    .line-z {
        display: none;
    }
}

@media (max-width: 1026px) {
    .about__project__info {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        gap: 30px;
    }

    .about__project__text {
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: 415px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template: minmax(auto, 100px) 1fr minmax(auto, 90px) / 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .footer {
        display: grid;
        grid-template: minmax(auto, 50px) minmax(auto, 50px) / 1fr;

    }

    .footer__copy {
        grid-column: 1 / 2;
        padding-left: 0px;
        justify-self: center;
        text-align: center;
        order: 2;
    }

    .footer__madeby {
        grid-column: 1 / 2;
        justify-self: center;
        text-align: center;
        padding-right: 0px;
        padding-top: 5px;
        order: 1;
    }
}

@media (max-width: 767px) {
    .header__logo {
        margin-left: 50px;
    }

    .burger__list {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-self: right;
        justify-self: right;
        margin-right: 50px;
    }

    .burger__list:before,
    .burger__list:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger__list.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger__list.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger__list.active span {
        transform: scale(0);
    }

    .burger__list:before {
        top: 0;
    }

    .burger__list:after {
        bottom: 0;
    }

    .burger__list span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .navbar {
        display: none;
    }

    .wrapper.active {
        grid-template: minmax(auto, 100px) minmax(auto, 200px) 1fr minmax(auto, 60px) / 1fr;
        grid-template-areas:
            "header"
            "navbar"
            "main"
            "footer";
    }

    .navbar__mobile.active {
        display: block;
        grid-area: navbar;
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .navbar__mobile.active .navbar__list {
        line-height: 30px;
        text-align: center;
        padding: 0px;
        margin: 0px;
        background-color: #7FB5FF;
        margin-top: 10px;
    }

    .navbar__mobile.active ul {
        padding: 0px;
        margin: 5px;
    }

    .main__login.active {
        margin-top: 0px;
    }
}